.tableHeader {
  display: flex;
}

.tableTitles {
  width: 180px;
}

.tableDiv {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.tableDiv table {
  border-collapse: collapse;
  height: 5vw;
  text-align: center;
  width: 90%;
}
